<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="aduRollingFile" fileName="./logs/adu.log" filePattern="./logs/adu-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %p %c{1}:%L - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="rootRollingFile" fileName="./logs/root.log" filePattern="./logs/root-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %p %c{1}:%L - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="com.adu" level="debug" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="aduRollingFile" />
        </logger>

        <root level="info">
            <AppenderRef ref="rootRollingFile" />
        </root>
    </Loggers>
</Configuration>
